<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
	<h5>Page consultation d'une magasin</h5>
    <p>{{magasin.id}}<p>
    <p>{{magasin.libelle}}</p>
    <p>{{magasin.pays}}</p>
    <p>{{magasin.copos}}</p>
    <p>{{magasin.ville}}</p>
    <p>{{magasin.rue}}</p>
    <p>{{magasin.horaires}}</p>
    </body>
</html>