<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des enseignes</title>
        {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
           
    {% if pEnseigne != null %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}        
        <h4>Enseignes : Liste</h4>
        
        <input class='form-control' id='search_group' name="search_group" onkeyup="search_group2()" placeholder="Entrez le nom d'une enseigne">        
                <table id='table_group' class="table table-bordered table-striped table-condensed">
                <thead>
                        <tr>
                      <th>Nom de l'enseigne</th>
                      <th>Ville du siège social</th>
                      <th class="numeric">Pays du siège social</th>
                      <th >Siret de l'enseigne</th>
                     
                    </tr>
                    </thead>
                    <tbody>
        {% for e in pEnseigne %}
        <tr>
            <td><a href="{{ path('enseigneConsulter', { 'id': e.id }) }}">{{ e.libelle }}</a> </td>
            <td>{{ e.ville }} </td>
            <td>{{ e.pays }} </td>
            <td>{{ e.siret }} </td>
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
         <tr>
        <td>Aucune enseigne n'a été trouvée.</td>
        </tr>
    {% endif %}
    
</table>
	</div>
</div>
</section>
</section>
	 {% include('./component/script.html.twig') %}
    </body>
</html>