<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des enseignes</title>
        {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
           
    {% if pEnseigne != null %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}        
        <h4>Enseignes : Liste</h4>
         {{ render(controller( 'App\\Controller\\SearchController::searchEnseigne' )) }}
        <a class="btn btn-theme" href="{{path('enseigneLister')}}">Réinitialliser</a>
        </br>
        <table class="table table-bordered table-striped table-condensed">
        <tr>
                      <th>Nom de l'enseigne</th>
                      <th>Ville du siège social</th>
                      <th class="numeric">Pays du siège social</th>
                      <th >Siret de l'enseigne</th>
                     
                    </tr>
        {% for e in pEnseigne %}
        <tr>
            <th><a href="{{ path('enseigneConsulter', { 'id': e.id }) }}">{{ e.libelle }}</a> </th>
            <th>{{ e.ville }} </th>
            <th>{{ e.pays }} </th>
            <th>{{ e.siret }} </th>
        {% endfor %}
        {% else %}
         <tr>
        <td>Aucune enseigne n'a été trouvée.</td>
        </tr>
    {% endif %}
</table>
	</div>
</div>
</section>
</section>
	 {% include('./component/script.html.twig') %}
    </body>
</html>