<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}

    </head>
    <body>  
    {% include('./component/menu.html.twig') %}  
       <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-4 main-chart">   
                <div class ="row content-panel">
                   
	<h5>Magasin : consultation </h5>

    <p><span class="message-p message" style="font-size:15px">Identifiant :</span>&nbsp;&nbsp;&nbsp;{{magasin.id}}</p>
    <p><span class="message-p message" style="font-size:15px">Libelle :</span>&nbsp;&nbsp;&nbsp;{{magasin.libelle}}</p>
    <p>{{magasin.pays}}</p>
    <p>{{magasin.copos}}</p>
    <p>{{magasin.ville}}</p>
    <p>{{magasin.rue}}</p>
    <p>{{magasin.horaires}}</p>
    <p>Enseigne : {{magasin.enseigne.libelle}}</p>
    

   
    
    <th><button href="{{ path('magasinModifier', { 'id': magasin.id }) }}">Modifier le magasin</button> </th> 
    <div class="pull-right"  >
    <th><button href="{{ path('magasinSupprimer', { 'id': magasin.id }) }}">Supprimer le magasin</button> </th><br>
    </div>
    
     </div>
    </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>
</html>