<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des magasins</title>
     {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
    {% if pMagasin != null %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            
        <h4>Magasins : Liste</h4></br>

                     <input class='form-control' id='search_group' name="search_group" onkeyup="search_bar()" placeholder="Entrez une information d'un magasin">        
                <table id='table_group' class="table table-bordered table-striped table-condensed">
        <tr>
                      <th>Nom</th>
                      <th>Nom de l'enseigne</th>
                      <th >Adresse</th>
                      <th >Code postal</th>
                      <th >Ville</th>
                      <th >Pays</th>

                     
                    </tr>
        {% for e in pMagasin %}
        <tr>
            <td><a href="{{ path('magasinConsulter', { 'id': e.id }) }}">{{ e.libelle }}</a></td>
             <td>{{ e.enseigne.libelle }}</td>
              <td>{{ e.rue }}</td>
             <td>{{ e.copos }}</td>
             <td>{{ e.ville }}</td>
             <td>{{ e.pays }}</td>
             
    
        {% endfor %}
        {% else %}
        <tr>
        <td>Aucun magasin n'a été trouvé.</td>
        </tr>
    {% endif %}
</table>
	</div>
</div>
</section>
</section>
	 {% include('./component/script.html.twig') %}
    </body>
</html>