<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>CleanIt | Profil</title>
   {% include('./component/css.html.twig') %}
</head>

<body>
  <section id="container">

{% include('./component/menu.html.twig') %}
    
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">

              
              <div class="col-md-4 profile-text">
                <h3>{{app.user.employe.nom}} {{app.user.employe.prenom}}</h3>
                <form role="form" class="form-horizontal">
                {% for r in app.user.employe.user.roles %}
                {% if r == "ROLE_ADMIN"%}
                  <p>Rôle : Admin</p>
                {% endif %}
                {% if r == "ROLE_COMMERCIAL"%}
                  <p>Rôle : Commercial</p>
                {% endif %}
                {% if r == "ROLE_HOTLINER"%}
                  <p>Rôle : Hotliner</p>
                {% endif %}
                {% endfor %}
                <p>Email : {{app.user.employe.mail}}</p>
                <p>Téléphone : {{app.user.employe.tel}}</p>
                <p>Adresse : {{app.user.employe.rue}} {{app.user.employe.copos}} {{app.user.employe.ville}} {{app.user.employe.pays}}</p>

                <th><a type="button" class ="btn btn-warning" href="{{ path('profilModifier', { 'id': app.user.id }) }}">Modifier le Profil</a> </th>

                <th><a type="button" class ="btn btn-warning" href="{{ path('mdpModifier', { 'id': app.user.id }) }}">Modifier mon mot de passe</a> </th>

                <br>
              </div>
            </div>      
          </div>     </div>       
      </section>
    </section>    
  </section>
  {% include('./component/script.html.twig') %}
  </script>
</body>

</html>


