<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}  
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">     
	<h4>Interlocuteur : Consultation</h4>
    <p>Id de l'interlocuteur:  {{interlocuteur.id}}<p>
    <p>Nom de l'interlocuteur:  {{interlocuteur.nom}}</p>
    <p>Prenom de l'interlocuteur:  {{interlocuteur.prenom}}</p>
    <p>Téléphone: {{interlocuteur.tel}}</p>
    <p>Mail:  {{interlocuteur.mail}}</p>
    <p>Magasin:  {{interlocuteur.magasin.libelle}}</p>
        <br>
    <br>
    <br>
    <a href="{{ path('interlocuteurModifier', { 'id': interlocuteur.id }) }}">Modifier l'interlocuteur</a> <br>
    <th><a href="{{ path('interlocuteurSupprimer', { 'id': interlocuteur.id }) }}">Supprimer l'interlocuteur</a> </th>
    </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>
</html>