<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}
        <title>CleanIT | Consultation d'un interlocuteur</title>
    </head>
    <body>
     {% include('./component/menu.html.twig') %}  
       <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-5 main-chart">   
                <div class ="showback">    
		<h4> <i class="fa fa-angle-right"></i> Interlocuteur : Consultation </h4>  
    <p><span class="message-p message" style="font-size:15px">Id :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.id}}<p>
    <p><span class="message-p message" style="font-size:15px">Nom :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.nom}}</p>
    <p><span class="message-p message" style="font-size:15px">Prénom :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.prenom}}</p>
    <p><span class="message-p message" style="font-size:15px">Téléphone :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.tel}}</p>
    
        <br>
    <br>
    <br>
   <th><a type="button" class ="btn btn-warning" href="{{ path('interlocuteurModifier', { 'id': interlocuteur.id }) }}">Modifier l'interlocuteur</a> 
    <div class="pull-right">
    <th><button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#validationSuppresion" >Supprimer l'interlocuteur</button> </th> <br>
     </div>
    
     </div>
    </div>
    <div class="row">
  <div class="col-lg-4 main-chart">   
                <div class ="showback">
                   
	<h4> <i class="fa fa-angle-right"></i> Magasin : consultation </h4>

    <p><span class="message-p message" style="font-size:15px">Id :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.magasin.id}}</p>
    <p><span class="message-p message" style="font-size:15px">Nom :</span>&nbsp;&nbsp;&nbsp;<a href="{{ path('magasinConsulter', { 'id': interlocuteur.magasin.id }) }}">{{interlocuteur.magasin.libelle}}</a></p>
    <p><span class="message-p message" style="font-size:15px">Adresse :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.magasin.rue}}</p>
    <p><span class="message-p message" style="font-size:15px">Code Postal :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.magasin.copos}}</p>
    <p><span class="message-p message" style="font-size:15px">Ville :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.magasin.ville}}</p>
    <p><span class="message-p message" style="font-size:15px">Pays :</span>&nbsp;&nbsp;&nbsp;{{interlocuteur.magasin.pays}}</p>
    </div>
    </div>
    </div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>

            <!--Modal-->
    <div class="modal fade" id="validationSuppresion" tabindex="-1" role="dialog" aria-labelledby="validationSuppresionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="validationSuppresionLabel">Êtes-vous sûr de vouloir supprimer cet interlocuteur ?</h5>
      </div>
      <div class="modal-body">
        <p> Vous allez supprimer l'interlocuteur appelé : {{interlocuteur.nom}} {{interlocuteur.prenom}}</p>
        
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
        <a type="button" class="btn btn-primary" href="{{ path('interlocuteurSupprimer', { 'id': interlocuteur.id }) }}">Supprimer</a>
      </div>
    </div>
  </div>
</div>

</html>