<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}

    </head>
    <body>  
    {% include('./component/menu.html.twig') %}  
       <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">   
	<h5>Page consultation d'une responsable</h5>
    <p>{{responsable.id}}<p>
    <p>{{responsable.nom}}</p>
    <p>{{responsable.prenom}}</p>
    <p>{{responsable.tel}}</p>
    <p>{{responsable.mail}}</p>


    <th><a href="{{ path('reponsableSupprimer', { 'id': responsable.id }) }}">Supprimer le responsable</a> </th>
    </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>
</html>