<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
	<h5>Page consultation d'une enseigne</h5>
    <p>{{enseigne.id}}<p>
    <p>{{enseigne.libelle}}</p>
    <p>{{enseigne.pays}}</p>
    <p>{{enseigne.copos}}</p>
    <p>{{enseigne.ville}}</p>
    <p>{{enseigne.rue}}</p>
    </body>
</html>