<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}

    </head>
    <body>  
    {% include('./component/menu.html.twig') %}  
       <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">   
	<h5>Responsable : consultation</h5>
    <p>Identifiant : {{responsable.id}}<p>
    <p>Nom  : {{responsable.nom}}</p>
    <p>Prenom  : {{responsable.prenom}}</p>
    <p>Téléphone  : {{responsable.tel}}</p>
    <p>Adresse mail : {{responsable.mail}}</p>

     <th><a href="{{ path('reponsableModifier', { 'id': responsable.id }) }}">Modifier le responsable</a> </th> <br>
    <th><a href="{{ path('reponsableSupprimer', { 'id': responsable.id }) }}">Supprimer le responsable</a> </th>
    </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>
</html>