<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}
        <title>CleanIT | Consultation d'un responsable</title>

    </head>
    <body>  
    {% include('./component/menu.html.twig') %}  
       <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-5 main-chart">   
                <div class ="showback">    
		<h4> <i class="fa fa-angle-right"></i> Responsable : Consultation </h4>  
    <p><span class="message-p message" style="font-size:15px">Id :</span>&nbsp;&nbsp;&nbsp;{{responsable.id}}<p>
    <p><span class="message-p message" style="font-size:15px">Nom :</span>&nbsp;&nbsp;&nbsp;{{responsable.nom}}</p>
    <p><span class="message-p message" style="font-size:15px">Prenom :</span>&nbsp;&nbsp;&nbsp;{{responsable.prenom}}</p>
    <p><span class="message-p message" style="font-size:15px">Téléphone :</span>&nbsp;&nbsp;&nbsp;{{responsable.tel}}</p>
    

    <th><a type="button" class ="btn btn-warning" href="{{ path('reponsableModifier', { 'id': responsable.id }) }}">Modifier le responsable</a> </th> 
    <div class="pull-right">
    <th><button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#validationSuppresion" >Supprimer le responsable</button> </th> <br>
      </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>

        <!--Modal-->
    <div class="modal fade" id="validationSuppresion" tabindex="-1" role="dialog" aria-labelledby="validationSuppresionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="validationSuppresionLabel">Êtes-vous sûre de vouloir supprimer ce responsable ?</h5>
      </div>
      <div class="modal-body">
        <p> Vous allez supprimer le responsable appelé : {{responsable.nom}} {{responsable.prenom}}</p>
        
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
        <a type="button" class="btn btn-primary" href="{{ path('reponsableSupprimer', { 'id': responsable.id }) }}">Supprimer</a>
      </div>
    </div>
  </div>
</div>

</html>