<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des responsables</title>
     {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
    {% if pResponsable != null %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            
        <h4>Responsables : liste</h4></br>

                <input class='form-control' id='search_group' name="search_group" onkeyup="search_group2()" placeholder="Entrez le nom d'un responsable">        
                <table id='table_group' class="table table-bordered table-striped table-condensed">
        <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th >Téléphone</th>
                      <th >Mail</th>
                      <th >Enseigne</th>                       
                    </tr>
        {% for e in pResponsable %}
        <tr>
            <td><a href="{{ path('responsableConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
            <td>{{ e.prenom }}</td>
            <td>{{ e.tel }}</td>
            <td>{{ e.mail }}</td>
            <td>{{ e.enseigne.libelle }}</td>    
        {% endfor %}
        {% else %}
        <tr>
        <td>Aucun responsable n'a été trouvée.</td>
        </tr>
    {% endif %}
</table>
	</div>
</div>
</section>
</section>
	 {% include('./component/script.html.twig') %}
    </body>
</html>