     <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
  {% if  is_granted('ROLE_HOTLINER') %}
   
      {% if is_granted('ROLE_ADMIN') %}
      <!--logo start-->
      <a href="{{ path('home')}}" class="logo"><b>Clean<span>IT</span></b></a>
      <!--logo end-->
      {% else %}
      <a href="{{ path('clientLister')}}" class="logo"><b>Clean<span>IT</span></b></a>
      {% endif %}
      

      {% else %}
        <a href="{{ path('home')}}" class="logo"><b>Clean<span>IT</span></b></a>
       {% endif %}

   
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{ path('app_logout')}}">Déconnexion</a></li>
        </ul>
      </div>
    </header>
    
    
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="{{ asset('img/ui-sam.jpg') }}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{app.user.username}}</h5>

                        {% if is_granted('ROLE_HOTLINER') %}
                <li class="sub-menu">
          
            <a href="{{ path('clientLister')}}">
              <i class="fa fa-dashboard"></i>
              <span>Accueil</span>
            </a>  
          </li>
              
              {% else %}
          <li class="sub-menu">
          
            <a href="{{ path('home')}}">
              <i class="fa fa-dashboard"></i>
              <span>Accueil</span>
            </a>  
          </li>
          {% endif %}

          {% if is_granted('ROLE_COMMERCIAL') %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-building-o"></i>
              <span>Enseigne</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('enseigneLister')}}">Liste des enseignes</a></li>
              <li><a href="{{ path('enseigneAjouter')}}">Ajouter une enseigne</a></li>
              <li><a href="{{ path('typeEnseigneLister')}}">Liste des types d'enseignes</a></li>
              <li><a href="{{ path('typeEnseigneAjouter')}}">Ajouter un type d'enseignes</a></li>
            </ul>
          </li>
          {% endif %}

          {% if is_granted('ROLE_COMMERCIAL') %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-university" aria-hidden="true"></i>
              <span>Type d'enseigne</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('typeEnseigneLister')}}">Liste des types d'enseignes</a></li>
              <li><a href="{{ path('typeEnseigneAjouter')}}">Ajouter un type d'enseignes</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="">
              <i class="fa fa-cart-arrow-down"></i>
              <span>Magasin</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('magasinLister')}}">Liste des magasins</a></li>
              <li><a href="{{ path('magasinAjouter')}}">Ajouter un magasin</a></li>
            </ul>
          </li>
          {% endif %}


          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-users"></i>
              <span>Personnel</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('clientLister')}}">Liste des clients</a></li>
              <li><a href="{{ path('employeLister')}}">Liste des employe</a></li>
              <li><a href="{{ path('employeAjouter')}}">Ajouter un employe</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              <span>Interlocuteur</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('interlocuteurLister')}}">Liste des interlocuteur</a></li>
              <li><a href="{{ path('interlocuteurAjouter')}}">Ajouter un interlocuteur</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-address-book" aria-hidden="true"></i>
              <span>Responsable</span>
              </a>
            <ul class="sub">
              <li><a href="{{ path('responsableLister')}}">Liste des reponsables</a></li>
              <li><a href="{{ path('responsableAjouter')}}">Ajouter un responsable</a></li>
            </ul>
          </li>


          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              <span>Page autres</span>
              </a>
            <ul class="sub">
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="404.html">404 Error</a></li>
              <li><a href="500.html">500 Error</a></li>
            </ul>
          </li>
          <!---
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Forms</span>
              </a>
            <ul class="sub">
              <li><a href="form_component.html">Form Components</a></li>
              <li><a href="advanced_form_components.html">Advanced Components</a></li>
              <li><a href="form_validation.html">Form Validation</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>Data Tables</span>
              </a>
            <ul class="sub">
              <li><a href="basic_table.html">Basic Table</a></li>
              <li><a href="responsive_table.html">Responsive Table</a></li>
              <li><a href="advanced_table.html">Advanced Table</a></li>
            </ul>
          </li>
  
      </div>
    </aside>