<html>
    <head>
        <meta charset="UTF-8">
        <title>CleantIt | Liste des employes</title>
        {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
           
    {% if pEmploye != null %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
           
        <h4>Employe : Liste</h4>
        </br>
       <input class='form-control' id='search_group' name="search_group" onkeyup="search_bar()" placeholder="Entrez une information d'un employé">        
                <table id='table_group' class="table table-bordered table-striped table-condensed">
        <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Téléphone</th>
                      <th>Mail</th>
                     
                    </tr>
        {% for e in pEmploye %}
        <tr>
            <td><a href="{{ path('employeConsulter', { 'id': e.id }) }}">{{ e.nom }}</a> </td>
            <td>{{ e.prenom }}</td>
            <td>{{ e.tel }}</td>
            <td>{{ e.mail }}</td>
        {% endfor %}
        {% else %}
         <tr>
        <td>Aucune employe n'a été trouvée.</td>
        </tr>
    {% endif %}
</table>
	</div>
</div>
</section>
</section>
	 {% include('./component/script.html.twig') %}
    </body>
</html>