<!DOCTYPE html>
<html>
    <head>
        {% include('./component/css.html.twig') %}
    </head>
    <body>
     {% include('./component/menu.html.twig') %}  
        <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">     
	<h4>Page consultation d'un interlocuteur</h4>
    <p>Id de l'interlocuteur:  {{interlocuteur.id}}<p>
    <p>Nom de l'interlocuteur:  {{interlocuteur.nom}}</p>
    <p>Prenom de l'interlocuteur:  {{interlocuteur.prenom}}</p>
    <p>Téléphone: {{interlocuteur.tel}}</p>
    <p>Mail:  {{interlocuteur.mail}}</p>
    </div>
</div>
</section>
</section>
    {% include('./component/script.html.twig') %}
    </body>
</html>